# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/copyright/
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/typescript.iml
.idea/workspace.xml
"01 - Explica\303\247\303\243o/"
"02 - Instala\303\247\303\243o/"
"03 - Tipos b\303\241sicos/"
"04 - Declarando vari\303\241veis/"
05 - Trabalhando com classes/
06 - Interfaces para tipos/
"07 - Interfaces para fun\303\247\303\265es array/"
08 - Interfaces para classes/
09 - Listando registros com for of/
"10 - Refatorando o c\303\263digo/"
11 - Modules/
12 - Separando modules em arquivos/
"13 - Estrutura de uma aplica\303\247\303\243o em typescript/"
